$thumbnail-height: 150px;   // wordpress thumbnail height
$thumbnail-width: 400px;    // wordpress thumbnail width

$border-radius: 0px;

.card.container {
  $one-across: 450px;
  $two-across: 604px;
  $three-across: 902px;
  $four-across: 1200px;
  $five-across: 1498px;
  $six-across: 1796px;
  margin: 0.75em;
  @mixin card-container-width($width) {
    @media screen and (min-width: $width) {
      width: $width;
      margin: 0.75em auto;
    }
  }
  @include card-container-width($one-across);
  @include card-container-width($two-across);
  @include card-container-width($three-across);
  @include card-container-width($four-across);
  @include card-container-width($five-across);
  @include card-container-width($six-across);
}

[type="button"] {
  display: inline-block;
  padding: 1em (0.75em - 0.125em) 0.75em;

  text-align: center;
  font-weight: 700;
  text-decoration: none;
  line-height: 0;
  color: $color-red;
  background-color: white;
  border: 2px solid $color-red;
  border-radius: $border-radius / 2;
  &:hover {
    color: white;
    background-color: $color-red;
    text-decoration: none;
  }
}

[type="card"] {

  &:hover {
    &.article hgroup {
      @include background(linear-gradient(rgba(32, 32, 32, 0.75), rgba(32,32,32,0.75)));
    }
  }
  .prev {
    float: left;
  }

  .next {
    float: right;
  }

  .prev, .next {
    height: 100%;
    font-size: 3em;
  }

  i.fa {
    margin: 39px 15px;
  }
  .card-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }


  display: block;
  @include box-sizing(border-box);
  max-width: 420px;
  border: 0px solid black;
  border-radius: $border-radius;

  font-family: $font-sans-serif;
  color: $color-black;
  background-color: $color-white;

  box-shadow: #bdc3c7, 0, 5px, 5px;
  @include animation-duration(0.5s);

  .top {
    position: relative;
    color: white;
    text-shadow: 1px, 1px, 1px, 0, black;
    h1 {
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      text-shadow: 2px 2px 6px lighten($color-black, 10);
      line-height: 24px;
      a.card-title {
        text-decoration: none;
      }
    }
    img {
      display: block;
      width: 100%;
      height: auto;
      border-bottom: 1px solid black;
      @include border-top-radius($border-radius);
    }
  }
  .middle .social {
    display: table;
    width: 100%;
    padding: 0.5em 0.75em 0;
    li {
      display: table-cell;
      a {
        display: block;
        border: 2px solid $color-red;
        border-left: none;
        color: white;
        text-align: center;
        text-decoration: none;
        span {
          font-size: 1.5em;
          width: 100%;
          height: 100%;
          padding: 0.5em 0;
          color: $color-red;
        }
        &:hover {
          background-color: $color-red;
          span { color: white; }
        }
      }
      &:first-child a {
        border-left: 2px solid $color-red;
        @include border-left-radius($border-radius / 2);
      }
      &:last-child a {
        @include border-right-radius($border-radius / 2);
      }
    }
  }
  .bottom {
    margin: 0.75em;
    a[type="button"] { display: block; }
  }

  &.article {
    &.prev {
      float: left;
    }
    &.next {
      float: right;
    }
    text-align: left;
    img {
      //filter: blur(1px);
      //-webkit-filter: blur(1px);
    }
    hgroup {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      @include border-top-radius($border-radius);
      @include background(linear-gradient(rgba(32, 32, 32, 0.70), rgba(32,32,32,0.70)));
      h1 {  margin: 1em; }
      h2, h3 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        margin-left: 1.5em;
      }
      a {
        color: $color-white;
        text-decoration: underline;
        &:hover {
          color: $color-red;
        }
      }
    }
    summary {
      font-family: $font-serif;
      font-size: 16px;
      line-height: 24px;
      margin: 1.5em;
      text-shadow: 2px 2px 2px $color-black;
    }
  }

  &.author, &.subject {
    text-align: center;
    .top {

      h1 {
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 1em;

        @include box-sizing(border-box);
        @include background-image(linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,1)));
      }
    }
  }

  @media screen and (min-width: 300px) {
    display: inline-block;
    margin-bottom: 0em;
    margin-left: 0em;
  }

}
