$base-accent-color: #27562D;
$base-button-color: #27562D;
$color-red: #27562D;      // rgb: 255 52  0
$color-black: #202020;    // rgb: 32  32  32
$color-white: #FCFCFC;    // rgb: 252 252 252

$darken-amount: 10%;
$lighten-amount: 10%;
