$blue-color: ligten(#2C708B, $lighten-amount);

$base-accent-color: $blue-color;
$base-button-color: $blue-color;

$color-red: $blue-color;      // rgb: 255 52  0
$color-black: #202020;    // rgb: 32  32  32
$color-white: #FCFCFC;    // rgb: 252 252 252

$darken-amount: 10%;
$lighten-amount: 10%;
