.homepage {
    .featured-article.container {
        overflow: hidden;
        padding: 1.5em;
        @include background(
            linear-gradient(
                $color-white,
                darken($color-white, $darken-amount)
            )
        );
        .featured-article-image {
            @include media($medium-screen-up) {
                width: 40%;
                float: left;
            }
            img {
                height: auto;
                padding-right: 1.5em; 
            }
        }
        .featured-article-description {
            @include media($medium-screen-up) {
                width: 60%;
                float: right;
            }
            h2 {
                margin: 0.5em 0 0.5em 0;
                font-size: 3em;
                line-height: 1em;
                font-style:italic;
                text-transform: uppercase;
                color: $color-red;
            }
            dfn, h3 {
                font-family: $font-sans-serif;
                text-transform: uppercase;
                font-size: 1.25em;
                font-weight: 700;
            }
            h3 { margin-bottom: 1em; }
        }
    }
}