/* SINGLE */

$article-width: 640px;
$vertical-spacing: 24px;
@mixin image-alignment {
  &.alignnone {
    width: 100%;
    height: auto;
  }
  &.alignleft, &.alignright {
      max-width: 66% !important;
      img { margin-bottom: 0.75em; }
  }
  &.alignleft {
      margin-left: -17%;
      margin-right: 1%;
      float: left;
      clear: left;
      .wp-caption-text { text-align: left; }
  }
  &.alignright {
      margin-right: -17%;
      margin-left: 1%;
      float: right;
      clear: right;
      .wp-caption-text { text-align: left; }
  }
  &.aligncenter {
      display: block;
      margin: 0 auto;
  }
}
.recommender {
  overflow: hidden;
  background-color: $color-black;
  .action {
    color: $color-white;
    padding: 10px;
    margin: 0 400px 0 400px;
    .subscribe {
      p {
        font-size: 0.8em/1.0em;
        font-style: italic;
        margin: 0 0 .5em;
      }
      .facebook, .twitter {
        float: left;
        margin: 0 5px;
      }
      .twitter {
        padding-top: 7px;
      }
      margin: 0 auto;
      text-align: center;
    }
  }

  .modal {

    ///////////////////////////////////////////////////////////////////////////////////
    $base-border-color: gainsboro !default;
    $base-border-radius: 3px !default;
    $base-background-color: white !default;
    $base-font-size: 1em !default;
    $base-line-height: 1.5em !default;
    $base-accent-color: #477DCA !default;
    $dark-gray: #333 !default;
    $light-gray: #DDD !default;
    $medium-screen: em(640) !default;
    $large-screen: em(860) !default;
    $base-font-color: $dark-gray !default;

    h1 {
      margin: 0;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }

    //////////////////////////////////////////////////////////////////////////////////

    $modal-padding: 3em;
    $modal-background: $base-background-color;
    $modal-close-color: $light-gray;
    $modal-image-height: 135px;
    $modal-image-width: $modal-image-height;
    $modal-trigger-image-width: 300px;

    label {
      cursor: pointer;
      margin-bottom: 0;
    }

    label img {
      border-radius: $modal-trigger-image-width / 2;
      display: block;
      max-width: $modal-trigger-image-width;
    }

    input[type="checkbox"] {
      display: none;
    }

    .modal-trigger {
      @include button(flat, $base-accent-color);
      padding: 0.8em 1em;
    }

    .modal-open {
      overflow: hidden;
    }

    .modal-window {
      // overlay
      @include transition(opacity 0.25s ease);
      @include position(fixed, 0px 0px 0px 0px);
      background: rgba(0,0,0, 0.85);
      opacity: 0;
      padding-top: 0.6em;
      text-align: left;
      visibility: hidden;
      z-index: 99999999999;

      @include media($large-screen) {
        padding-top: 10em;
      }

      .modal-bg {
        @include position(absolute, 0px 0px 0px 0px);
        cursor: pointer;
      }
    }

    .modal-close {
      @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
      @include size(1.5em);
      background: $modal-background;
      cursor: pointer;

      &:after,
      &:before {
        @include position(absolute, 3px 3px 0 50%);
        @include transform(rotate(45deg));
        @include size(0.15em 1.5em);
        background: $modal-close-color;
        content: '';
        display: block;
        margin: -3px 0 0 -1px;
      }

      &:hover:after,
      &:hover:before {
        background: darken($modal-close-color, 10%);
      }

      &:before {
        @include transform(rotate(-45deg));
      }
    }

    .modal-inner {
      @include transition(opacity 0.25s ease);
      background: $modal-background;
      border-radius: $base-border-radius;
      margin-top: 0;
      margin: auto;
      max-height: 95%;
      overflow: auto;
      padding: $modal-padding / 2;
      position: relative;
      width: 95%;

      @include media($medium-screen) {
        max-height: 70%;
        padding: $modal-padding;
        width: 60%;
      }

      @include media($large-screen) {
        width: 50%;
      }

      h1 {
        color: $base-font-color;
        margin-bottom: 0.6em;
        text-align: left;
        text-transform: capitalize;
      }

      .modal-intro {
        font-weight: 800;
      }

      .modal-content {
        color: $base-font-color;

        @include media($medium-screen) {
          @include columns(2 8em);
        }
      }

      a.cta {
        color: white;
        display: inline-block;
        margin-right: 0.5em;
        margin-top: 1em;

        &:last-child {
          padding: 0 2em;
        }
      }
    }

    .modal-state:checked + .modal-window {
      opacity: 1;
      visibility: visible;
    }

    .modal-state:checked + .modal-window .modal-inner {
      top: 0.5em;
    }
  }
  
}
article.single {
    width: 100%;
    // @include outer-container;

    header {
        position: relative;
        z-index: 1;

        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          //opacity: 0.3;
          background-image: cover;
          background-position: center center;
          background-size: 100% auto;
          background-repeat: no-repeat;
        }

        //height: 8.7em;
        @include media($large-screen) {
            //height: 19.4em;
        }
        .hero-image {
            width: 100%;
            height: auto;
        }
        .intro-text {

            &:before {
              content: "";
              position: absolute;
              z-index: -1;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              //opacity: 0.7;
              //background-color: black;
            }

            width: 100%;
            z-index: 1;

            $intro-text-width: 60%;

            padding: 2em;
            @include media($large-screen) {
                padding: 2em;
            }

            $color-intro-text-top: rgba(255, 255, 255, 0.75);
            $color-intro-text-bottom: rgba(255, 255, 255, 1);
            //@include background(linear-gradient($color-intro-text-top, $color-intro-text-bottom));
            text-align: center;

            h2 {
                margin: 0 auto .3em;
                font-size: 2em;
                font-weight: 600;
                text-transform: uppercase;
                line-height: $header-line-height;
                max-width: 80%;
                @include media($large-screen) {
                    font-size: 3em;
                    margin-bottom: 0em;
                }
                color: $color-black;
                text-shadow: 2px 2px 6px lighten($color-black, 50);
            }

            h3 {
                color: lighten($base-font-color, 20);
                font-size: 1.3em;
                font-weight: 300;
                line-height: 1.4em;
                margin: 0 auto 1em;

                @include media($large-screen) {
                    font-size: 1.7em;
                    line-height: 1.35em;
                    margin: 0 auto 1em;
                    width: $intro-text-width;
                }
            }

            h4 {
              color: lighten($color-black, 20);
              font-family: Helvetica, Arial, sans-serif;
              text-transform: uppercase;
              font-weight: 600;
              //text-shadow: 2px 2px 6px lighten($color-black, 40);
              border-bottom: 1px solid darken(white, 20);
              margin: 0 35%;
              padding-bottom: .1em;
              @include media($large-screen) {
                padding-bottom: .4em;
              }
            }

            ul { margin-bottom: 1.5em; }
            ul li {
                display: inline-block;
                margin: 5px;
                a {
                    padding: 3px 8px;
                    text-transform: uppercase;
                    font-size: .7em;
                    font-weight: 400;
                    background: $base-accent-color;
                    color: white;
                    &:hover { color: white; }
                }
            }
        }
    }

    .author {
        float: right;
        margin: 3px 0 3px 8px;
    }

    .body {

        h3 {
            font-size: 1.5*$base-font-size;
            font-weight: 600;
            text-transform: uppercase;
            padding-top: 28px;
            margin-bottom: 28px;
            display: block;
            clear: both;
            width: 100%;
            text-align: center;
        }

        @include outer-container();
        //overflow: hidden;
        max-width: 640px;
        margin: 0 auto 1.5em auto;
        p {
            clear: both;
            margin-bottom: 1em;
            font-size: 1.2*$base-font-size;
            line-height: 1.6em;
            > span { line-height: 1.6em; }
        }
        padding: 0 8px;
        @include media($large-screen) {
          padding: 0;
        }
    }

    .wp-caption {
        overflow: hidden;
        max-width: 100% !important;
        margin: 0 1.5em;
        .wp-caption-text {
            @include box-sizing(border-box);
            font-family: $sans-serif;
            font-size: 0.8*$base-font-size;
        }
        @include media($large-screen) {
            @include image-alignment;
        }
    }

    img {
        height: auto;
        padding: 0.5em 0;
        @include media($large-screen) {
            @include image-alignment;
        }
        @include media($medium-screen) {
          &.alignleft {
            max-width: 49%;
            margin-right: 1%;
            float: left;
            clear: left;
          }
          &.alignright {
            max-width: 49%;
            margin-left: 1%;
            float: right;
            clear: right;
          }
          &.alignnone {
            width: 100%;
            height: auto;
          }
        }
        display: block;
        margin: 0 auto;
    }
}
