/* SINGLE */

$article-width: 640px;
$vertical-spacing: 24px;
@mixin image-alignment {
  &.alignnone {
    width: 100%;
    height: auto;
  }
  &.alignleft, &.alignright {
      max-width: 66% !important;
      img { margin-bottom: 0.75em; }
  }
  &.alignleft {
      margin-left: -17%;
      margin-right: 1%;
      float: left;
      clear: left;
      .wp-caption-text { text-align: left; }
  }
  &.alignright {
      margin-right: -17%;
      margin-left: 1%;
      float: right;
      clear: right;
      .wp-caption-text { text-align: left; }
  }
  &.aligncenter {
      display: block;
      margin: 0 auto;
  }
}
.recommender {
  overflow: hidden;
  background-color: $color-black;

  .prev {
    float: left;
  }

  .next {
    float: right;
  }

  .prev, .next {
    height: 100%;
    font-size: 3em;
  }

}
article.single {
    width: 100%;
    // @include outer-container;

    header {
        position: relative;
        z-index: 1;

        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          //opacity: 0.3;
          background-image: cover;
          background-position: center center;
          background-size: 100% auto;
          background-repeat: no-repeat;
        }

        //height: 8.7em;
        @include media($large-screen) {
            //height: 19.4em;
        }
        .hero-image {
            width: 100%;
            height: auto;
        }
        .intro-text {

            &:before {
              content: "";
              position: absolute;
              z-index: -1;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              //opacity: 0.7;
              //background-color: black;
            }

            width: 100%;
            z-index: 1;

            $intro-text-width: 60%;

            padding: 2em;
            @include media($large-screen) {
                padding: 2em;
            }

            $color-intro-text-top: rgba(255, 255, 255, 0.75);
            $color-intro-text-bottom: rgba(255, 255, 255, 1);
            //@include background(linear-gradient($color-intro-text-top, $color-intro-text-bottom));
            text-align: center;

            h2 {
                margin: 0 auto .3em;
                font-size: 2em;
                font-weight: 600;
                text-transform: uppercase;
                line-height: $header-line-height;
                max-width: 80%;
                @include media($large-screen) {
                    font-size: 3em;
                    margin-bottom: 0em;
                }
                color: $color-black;
                text-shadow: 2px 2px 6px lighten($color-black, 50);
            }

            h3 {
                color: lighten($base-font-color, 20);
                font-size: 1.3em;
                font-weight: 300;
                line-height: 1.4em;
                margin: 0 auto 1em;

                @include media($large-screen) {
                    font-size: 1.7em;
                    line-height: 1.35em;
                    margin: 0 auto 1em;
                    width: $intro-text-width;
                }
            }

            h4 {
              color: lighten($color-black, 20);
              font-family: Helvetica, Arial, sans-serif;
              text-transform: uppercase;
              font-weight: 600;
              //text-shadow: 2px 2px 6px lighten($color-black, 40);
              border-bottom: 1px solid darken(white, 20);
              margin: 0 35%;
              padding-bottom: .1em;
              @include media($large-screen) {
                padding-bottom: .4em;
              }
            }

            ul { margin-bottom: 1.5em; }
            ul li {
                display: inline-block;
                margin: 5px;
                a {
                    padding: 3px 8px;
                    text-transform: uppercase;
                    font-size: .7em;
                    font-weight: 400;
                    background: $base-accent-color;
                    color: white;
                    &:hover { color: white; }
                }
            }
        }
    }

    .author {
        float: right;
        margin: 3px 0 3px 8px;
    }

    .body {

        h3 {
            font-size: 1.5*$base-font-size;
            font-weight: 600;
            text-transform: uppercase;
            padding-top: 28px;
            margin-bottom: 28px;
            display: block;
            clear: both;
            width: 100%;
            text-align: center;
        }

        @include outer-container();
        //overflow: hidden;
        max-width: 640px;
        margin: 0 auto 1.5em auto;
        p {
            clear: both;
            margin-bottom: 1em;
            font-size: 1.2*$base-font-size;
            line-height: 1.6em;
            > span { line-height: 1.6em; }
        }
        padding: 0 8px;
        @include media($large-screen) {
          padding: 0;
        }
    }

    .wp-caption {
        overflow: hidden;
        max-width: 100% !important;
        margin: 0 1.5em;
        .wp-caption-text {
            @include box-sizing(border-box);
            font-family: $sans-serif;
            font-size: 0.8*$base-font-size;
        }
        @include media($large-screen) {
            @include image-alignment;
        }
    }

    img {
        height: auto;
        padding: 0.5em 0;
        @include media($large-screen) {
            @include image-alignment;
        }
        @include media($medium-screen) {
          &.alignleft {
            max-width: 49%;
            margin-right: 1%;
            float: left;
            clear: left;
          }
          &.alignright {
            max-width: 49%;
            margin-left: 1%;
            float: right;
            clear: right;
          }
          &.alignnone {
            width: 100%;
            height: auto;
          }
        }
        display: block;
        margin: 0 auto;
    }
}
