$font-size: 16px;
$line-height: $font-size * 1.5;
$font-serif: "Lora", "Georgia", sans-serif;
$font-sans-serif: "Cooper Hewitt", "Helvetica Neue", sans-serif;

html, body {
    font-family: $font-serif;
    font-size: $font-size;
    line-height: $line-height;
}

h1, h2, h3, h4, h5, h6 { font-family: $font-sans-serif; }

a {
    color: $color-red;
    &:link, &:visited { text-decoration: none; }
    &:hover, &:active { text-decoration: underline; }
}

blockquote {
    padding-left: 1.5em;
    font-size: 0.9em;
}

.pullquote {
    font-family: Cooper Hewitt;
    font-weight:  700;
    font-size: 2em;
    font-style: italic;
    line-height: 1.5em;
    margin: 1.5em 0;
}