@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "reset";

@import "fonts";
@import "colors";
@import "typography";
@import "single";

html .mceContentBody {
  max-width: $article-width;
  font-family: $font-serif;
  font-size: $font-size;
  line-height: $line-height;
  margin: 0.75em auto 0;
}

p {
  margin-bottom: 1em;
  font-size: 1.2*$base-font-size;
  line-height: 1.6em;
  > span { line-height: 1.6em; }
}
@include media($large-screen) {
  margin: 1.5em auto;
}

@mixin image-alignment {
  &.alignnone {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  &.alignleft, &.alignright {
    width: 60% !important;
    height: auto;
    img { margin-bottom: 0.75em; }
  }
  &.alignleft {
    float: left;
    margin-left: 0;
    margin-right: 2em;
    .wp-caption-text { text-align: left; }
  }
  &.alignright {
    float: right;
    margin-left: 2em;
    margin-right: 0;
    .wp-caption-text { text-align: left; }
  }
}

img {
  height: auto;
  padding-bottom: 0.5em;
  @include media($large-screen) {
    @include image-alignment;
  }
}

.wp-caption {
  overflow: hidden;
  width: 100% !important;
  max-width: 100% !important;
  margin: 0;
  background-color: transparent;
  border: 0;
  a {
    display: block;
    width: 100%;
    margin: 1.5em 0em;
  }
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .wp-caption-dd {
    @include box-sizing(border-box);
    font-family: $sans-serif;
    font-size: 0.8*$base-font-size;
    font-weight: 700;
    text-align: left;
    margin-top: 1em;
  }
  @include media($large-screen) {
    a { margin: 0; }
    @include image-alignment;
  }
}
