/*
Syntax error: Invalid CSS after "      webkit-image": expected ")", was ": -webkit- + $p..."
        on line 21 of scss/bourbon/helpers/_linear-angle-parser.scss
        from line 10 of scss/bourbon/_bourbon.scss
        from line 11 of scss/style.scss

16: 
17:   @if $offset {
18:     $num: _str-to-num($first-val);
19: 
20:     @return (
21:       webkit-image: -webkit- + $prefix + ($offset - $num) + $suffix,
22:       spec-image: $image
23:     );
24:   }
25: }

Backtrace:
scss/bourbon/helpers/_linear-angle-parser.scss:21
scss/bourbon/_bourbon.scss:10
scss/style.scss:11
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:1147:in `expected'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/lexer.rb:206:in `expected!'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:483:in `assert_tok'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:433:in `paren'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:418:in `special_fun'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:413:in `raw'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:337:in `funcall'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:319:in `ident'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:228:in `unary_not'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:228:in `unary_div'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:228:in `unary_minus'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:228:in `unary_plus'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:209:in `times_div_or_mod'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:209:in `plus_or_minus'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:209:in `relational'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:209:in `eq_or_neq'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:209:in `and_expr'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:209:in `or_expr'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:298:in `space'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:283:in `interpolation'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:246:in `expr'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:477:in `assert_expr'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/script/parser.rb:49:in `parse'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:1022:in `sass_script'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:215:in `return_directive'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:174:in `special_directive'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:146:in `directive'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:554:in `block_child'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:535:in `block'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:264:in `if_directive'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:174:in `special_directive'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:146:in `directive'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:552:in `block_child'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:535:in `block'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:211:in `function_directive'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:174:in `special_directive'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:146:in `directive'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:553:in `block_child'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:543:in `block_contents'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/scss/parser.rb:27:in `parse'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:342:in `_to_tree'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:274:in `to_tree'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/plugin.rb:107:in `method_missing'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:463:in `watch_or_update'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:326:in `process_result'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:41:in `parse'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:21:in `parse!'
/Users/gabe/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/sass-3.2.19/bin/sass:13:in `<top (required)>'
/Users/gabe/.rbenv/versions/2.1.5/bin/sass:23:in `load'
/Users/gabe/.rbenv/versions/2.1.5/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"      webkit-image\": expected \")\", was \": -webkit- + $p...\"\A         on line 21 of scss/bourbon/helpers/_linear-angle-parser.scss\A         from line 10 of scss/bourbon/_bourbon.scss\A         from line 11 of scss/style.scss\A \A 16: \A 17:   @if $offset {\A 18:     $num: _str-to-num($first-val);\A 19: \A 20:     @return (\A 21:       webkit-image: -webkit- + $prefix + ($offset - $num) + $suffix,\A 22:       spec-image: $image\A 23:     );\A 24:   }\A 25: }"; }
